<div class="chartsWrapper">
    <div class="rowOfCardsTitle">Static Line Charts With Full Size Legends (past {{pastNDays}} days)</div>
    <div class="rowOfCards">
        <div class="card" style="flex-shrink: 1; height: 100%; width: 95%;">
            <div style="color: black; background: white; border-bottom: 1px solid silver;" class="cardTitle">Machine Pressure and Temperature, Light Theme</div>
            <div class="cardChart" id="chart1"></div>
        </div>
    </div>
    <div class="rowOfCardsTitle">Line Charts Updating in Real Time (past {{pastNHours}} hours, stops after {{stopAfterNRefreshes}} refreshes) </div>
    <div class="rowOfCards">
        <div class="card" style="flex-shrink: 1; height: 100%; width: 95%;">
            <div class="cardChart" style="height: 100%" id="chart2"></div>
        </div>
    </div>
</div>
<div id="pbireport1" style="height: 800px; width: 100%"></div>